@tailwind base;
@tailwind components;
@tailwind utilities;

.home{
  /* background: linear-gradient(45Deg,rgba(238, 195, 95,0.5),black),url(https://png.pngtree.com/thumb_back/fh260/background/20210424/pngtree-food-and-packaging-online-shopping-delivery-service-truck-delivery-service-background-image_662111.jpg); */
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
}

/* .page{
  background: linear-gradient(45Deg,rgba(238, 195, 95,0.5),black),url(https://images.wallpaperscraft.com/image/single/light_background_texture_69531_1920x1080.jpg);
} */

.auth{
  width: 90%;
  max-width: 400px;
  border: 1px solid #dcdcdc;
  padding: 20px;
  text-align: center;
}

.auth form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto 10px auto;
}

.auth__success{
  padding: 10px 0;
  background-color: hsl(147, 79%, 87%);
  margin-bottom: 20px;
}

.auth__error{
  padding: 10px 0;
  background-color: hsl(0, 79%, 87%);
  margin-bottom: 20px;
}

.auth form > input, button{
  height: 40px;
  font-size: 16px;
  padding: 0 10px;
}